@model IEnumerable<FoodAdmin.Models.CookingClasses>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recipeTitle) 
            </th>
            <th></th>
      

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recipeTitle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.recipeId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.recipeId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>


                </td>                
                    
            </tr>
        }
    </tbody>
</table>
